{{ header }}

<main id="common-home" class="wrapper">
  <div id="content" class="{{ class }} content">
    <div class="container container--mt container--flex-row">
      <div class="banner swiper-container banner-swiper">
        <div class="swiper-wrapper">
          <a class="swiper-slide">
            <img class="banner__img" src="catalog/view/theme/fancy.shop/img/drone-akciya.jpg" alt="Баннерное фото">
          </a>
          <a class="swiper-slide">
            <img class="banner__img" src="catalog/view/theme/fancy.shop/img/drone-akciya.jpg" alt="Баннерное фото">
          </a>
          <a class="swiper-slide">
            <img class="banner__img" src="catalog/view/theme/fancy.shop/img/drone-akciya.jpg" alt="Баннерное фото">
          </a>
        </div>

        <div class="swiper-button-prev far"></div>
        <div class="swiper-button-next far"></div>
      </div>

      <div class="gift">
        <h2 class="gift__title">Подберите подарок себе или своим близким <span class="gift__emoji">🎁</span></h2>

        <form class="gift__form">
          <div class="gift__row">
            <div class="gift__col">
              <span class="gift__form__title">Пол</span>
              <div class="gift__row gift__row--flex-row">
                <input class="gift__input gift__input--radio male far" type="radio" name="gender" checked>
                <input class="gift__input gift__input--radio feemale far" type="radio" name="gender">
              </div>
            </div>
            <div class="gift__col gift__col--100 gift__col--ml">
              <span class="gift__form__title">Возраст</span>
              <select class="gift__input gift__input--select" name="age">
                <option disabled>Возраст</option>
                <option value="1-7">1-7</option>
                <option value="7-14" selected>7-14</option>
                <option value="14-18">14-18</option>
                <option value="18-21">18-21</option>
              </select>
            </div>
          </div>
          <div class="gift__row gift__row--mt">
            <div class="gift__col gift__col--100">
              <span class="gift__form__title">Категория</span>
              <select class="gift__input gift__input--select" name="category">
                <option disabled selected>Категория</option>
                <option value="Электроника" selected>Электроника</option>
                <option value="Товары для дома и интерьера">Товары для дома и интерьера</option>
                <option value="Игрушки">Игрушки</option>
                <option value="Одежда">Одежда</option>
              </select>
            </div>
          </div>
          <div class="gift__row gift__row--mt">
            <div class="gift__col gift__col--100">
              <span class="gift__form__title">Максимальная цена</span>
              <div class="gift__row">
                <input class="gift__input" type="number" value="5000">
              </div>
            </div>
            <div class="gift__col">
              <button class="gift__btn btn">найти</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="advantages">
      <div class="advantage">
        <i class="icon payment-card-icon"></i>
        <h2 class="advantage__title">безопасная<br>оплата</h2>
        <p class="advantage__p">
          Оплачивайте покупки любым
          удобным способом! Мы гарантируем
          сохранность ваших средств!
        </p>
      </div>
      <div class="advantage advantage--guarantee">
        <i class="icon guarantee-icon"></i>
        <h2 class="advantage__title advantage__title--gradient">гарантия<br>возврата</h2>
        <p class="advantage__p">
          Не подошел размер? Нашли брак?
          Вернем 100% суммы. Покупайте выгодно и безопасно
        </p>
      </div>
      <div class="advantage">
        <i class="icon sneakers-icon"></i>
        <h2 class="advantage__title">широкий<br>ассортимент</h2>
        <p class="advantage__p">
          Большой выбор товаров и широкий ассортимент!
          В нашем каталоге более 2000 товаров
        </p>
      </div>
      <div class="advantage advantage--delivery">
        <i class="icon delivery-icon"></i>
        <h2 class="advantage__title advantage__title--gradient">доставка по<br>всей России</h2>
        <p class="advantage__p">
          Бесплатная доставка по всей России.
          Вы можете выбрать любую удобную для Вас транспортную компанию
        </p>
      </div>
    </div>

    <div class="slider-cat">
      <nav class="swiper-container slider-cat__swiper">
        <ul class="swiper-wrapper">
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">детские коляски</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">кварокоптеры и радиоуправляемые игрушки</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">куклы</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">конструкторы</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">развивающие игрушки</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">велосипеды и гироскутеры</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">мягкие игрушки</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">мягкие игрушки</a>
          </li>
          <li class="slider-cat__item swiper-slide">
            <a class="slider-cat__link">мягкие игрушки</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="cat-nav">
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Детские коляски</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/baby-carriage-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Квадрокоптеры и радиоуправляемые игрушки</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/drone-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Электроника</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/smartphones-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Для дома и интерьера</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/interior-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Одежда, обувь и аксессуары</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/sneakers-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Товары для мам и малышей</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/baby-stuff-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Мягкие игрушки</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/soft-bear-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Велосипеды и гироскутеры</h2>
        <div class="catalog-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/bicycle-photo.jpg">
      </a>
      <a class="cat-nav__link" href="">
        <h2 class="cat-nav__title">Конструкторы</h2>
        <div class="cat-nav__button">смотреть</div>
        <img class="cat-nav__img" src="catalog/view/theme/fancy.shop/img/pages/home/catalog-nav/lego-photo.jpg">
      </a>
    </div>

    <div class="products">
      <h2 class="products__title">Покупатели выбирают</h2>
      <div class="swiper">
        <div class="swiper-container products__swiper">
          <div class="swiper-wrapper">
            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  -20%
                  <div class="flag"></div>
                </span>
              </div>
              <a href="" class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/baby-carriage.jpg" alt="">
              </a>
              <h3 class="product-item__title">Bartollino Adbor</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="product-item__price">
                <span class="product-item__price-current">16 500 Р.</span>
                <span class="product-item__price-prev">16 500 Р.</span>
              </div>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span class="green">
                  любимая игрушка
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/soft-toy.jpg" alt="">
              </a>
              <h3 class="product-item__title">Игрушка "Как приручить дракона 3"</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">2 000 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/baby-seat.jpg" alt="">
              </a>
              <h3 class="product-item__title">Автокресло</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">2 000 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/lego-city.jpg" alt="">
              </a>
              <h3 class="product-item__title">Конструктор Lego City</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span class="product-item__price">9 475 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  Хит
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/xiaomi-mi-band-4.jpg" alt="">
              </a>
              <h3 class="product-item__title">Xiaomi Mi Band 4</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">4 000 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>
          </div>
        </div>

        <div class="products__swiper-btn-prev swiper-button-prev fas"></div>
        <div class="products__swiper-btn-next swiper-button-next fas"></div>
      </div>
    </div>

    <div class="products">
      <h2 class="products__title">Новинки мира электроники</h2>
      <span class="products__subtitle">Категории</span>

      <div class="products__cat-swiper swiper">
        <div class="products__cat swiper-container">
          <div class="swiper-wrapper">
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/laptops.png">
                </div>
                <span class="products__cat__title">Ноутбуки</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/pc.png">
                </div>
                <span class="products__cat__title">Компьютеры</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/earphones.png">
                </div>
                <span class="products__cat__title">Наушники</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/smartphones.png">
                </div>
                <span class="products__cat__title">Смартфоны</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/fitness-bracelets.png">
                </div>
                <span class="products__cat__title">Фитнес браслеты</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/monitors.png">
                </div>
                <span class="products__cat__title">Мониторы</span>
              </div>
            </a>
            <a class="swiper-slide">
              <div class="products__cat__link">
                <div class="products__cat__img-cont">
                  <img class="products__cat__img" src="catalog/view/theme/fancy.shop/img/common/products/cat/electronics/components.png">
                </div>
                <span class="products__cat__title">Компоненты</span>
              </div>
            </a>
          </div>
        </div>
        <div class="products__cat-btn-prev swiper-button-prev fal"></div>
        <div class="products__cat-btn-next swiper-button-next fal"></div>
      </div>

      <div class="swiper">
        <div class="swiper-container products__swiper">
          <div class="swiper-wrapper">
            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  -15%
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/new/air-pods-2.jpg" alt="">
              </a>
              <h3 class="product-item__title">Apple AirPods 2</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="product-item__price">
                <span class="product-item__price-current">10 990 Р.</span>
                <span class="product-item__price-prev">11 200 Р.</span>
              </div>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span class="green">
                  -5%
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/products/huawei-p30-pro/huawei-p30-pro-01.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/products/huawei-p30-pro/huawei-p30-pro-02.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/products/huawei-p30-pro/huawei-p30-pro-03.jpg" alt="">
                  </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>
              </a>
              <h3 class="product-item__title">Смартфон Huawei P30 Pro</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="product-item__price">
                <span class="product-item__price-current">59 990 Р.</span>
                <span class="product-item__price-prev">61 000 Р.</span>
              </div>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/new/mackbook-air-2019.jpg" alt="">
              </a>
              <h3 class="product-item__title">Apple MacBook Air (2019)</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">68 220 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span class="green">
                  -24%
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/new/xiaomi-mi9.jpg" alt="">
              </a>
              <h3 class="product-item__title">Смартфон Xiaomi Mi 9</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="product-item__price">
                <span class="product-item__price-current">24 990 Р.</span>
                <span class="product-item__price-prev">32 000</span>
              </div>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  Хит
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/xiaomi-mi-band-4.jpg" alt="">
              </a>
              <h3 class="product-item__title">Xiaomi Mi Band 4</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">4 000 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  Хит
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/new/iphone-11.jpg" alt="">
              </a>
              <h3 class="product-item__title">Смартфон Apple Iphone 11 Pro</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">89 990 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>
          </div>
        </div>

        <div class="products__swiper-btn-prev swiper-button-prev fas"></div>
        <div class="products__swiper-btn-next swiper-button-next fas"></div>
      </div>
    </div>

    <div class="products">
      <h2 class="products__title">Для мам и детей</h2>
      <div class="swiper">
        <div class="swiper-container products__swiper">
          <div class="swiper-wrapper">
            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span>
                  3 в 1
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-01.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-03.jpg" alt="">
                  </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>
              </a>
              <h3 class="product-item__title">Коляска Adamex Barletta 2 в 1</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span class="product-item__price">
                24 200 Р.
              </span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span class="green">
                  -5%
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-03.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-03.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-04.jpg" alt="">
                  </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>
              </a>
              <h3 class="product-item__title">Пуховик для девочки GXF</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="product-item__price">
                <span class="product-item__price-current">2 400 Р.</span>
                <span class="product-item__price-prev">2 500 Р.</span>
              </div>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <a class="product-item__img-cont swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-05.jpg" alt="">
                  </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>
              </a>
              <h3 class="product-item__title">Коляска-трость Peg Perego Pliko Min</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="product-item__price">12 600 Р.</span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <a class="product-item__img-cont swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-04.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-05.jpg" alt="">
                  </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-pagination"></div>
              </a>
              <h3 class="product-item__title">Кроватка детская</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span class="product-item__price">
                2 400 Р.
              </span>
              <button class="product-item__btn btn">в корзину</button>
            </div>

            <div class="product-item swiper-slide">
              <div class="product-item__tag">
                <span class="green">
                  2 в 1
                  <div class="flag"></div>
                </span>
              </div>
              <a class="product-item__img-cont">
                <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-05.jpg" alt="">
              </a>
              <h3 class="product-item__title">Коляска 2 в 1 Noordi Fjordi</h3>
              <div class="product-item__rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span class="product-item__price">
                36 400 Р.
              </span>
              <button class="product-item__btn btn">в корзину</button>
            </div>
          </div>
        </div>

        <div class="products__swiper-btn-prev swiper-button-prev fas"></div>
        <div class="products__swiper-btn-next swiper-button-next fas"></div>
      </div>
    </div>

    <div class="about">
      <img src="catalog/view/theme/fancy.shop/img/pages/home/shop.jpg" alt="Наш магазин" class="about__img">
      <div class="about__text">
        <h4 class="about__title">Fancy.shop - семейный онлайн гипермаркет</h4>
        <p class="about__p">
          Онлайн-гипермаркет для счастливых родителей и планирующих! В нашем интернет-магазине детских товаров есть самые популярные игрушки, одежда и обувь мировых брендов, все для будущих мам и новорожденных, включая подгузники и детское питание, огромный выбор детских колясок и автокресел и широкий ассортимент детской мебели – от колыбелей до дизайнерского интерьера детской комнаты, а также товары для обучения и творчества, книги, методики развития, товары для спорта и отдыха и всё для уютного дома.<br><br>
          Детский онлайн-магазин Fancy.shop быстро доставит заказ в более 300 пунктов выдачи по РФ, выберите пункт выдачи рядом с Вашим домом! Курьерская доставка до двери в более чем 5000 населенных пунктах России.
        </p>
      </div>
    </div>
  </div>
</main>

{{ footer }}
