{% if categories %}
<div class="header__cat hidden">
  <div class="header__cat__cont">
    <ul class="header__cat-list">
      {% for category in categories %}
      <li class="header__cat-list__item">
        <a class="header__cat-list__link" href="{{ category.href }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="header__cat-list-full">
    </div>
  </div>
</div>
{% endif %}